.p-calendar {
    width: 100%;

    &__inner {
        border-collapse: collapse;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
            max-width: 1120px;
            margin: auto;
            padding: 0 10px;
        }
    }
    &__item {
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        line-height: 1.2;
        text-align: center;
        width: calc(100% / 7);

        &--first {
            color: #FF0000;
        }
    
        &--last {
            color: #0000FF;
        }
        @media screen and (min-width: 768px) {
            &--first {
                border-left: 1px solid #CCC;
            }
        }
        @media screen and (max-width: 767px) {
            &:nth-of-type(7n) {
                border-right: none;
            }
        }
    }

    &__box {
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        min-height:100px;
        width: calc(100% / 7);
        
        &--em {
            background-color: #fbffa3;
        }

        @media screen and (min-width: 768px) {
            &:nth-of-type(7n-6) {
                border-left: 1px solid #CCC;
            }
        }
        @media screen and (max-width: 767px) {
            min-height:50px;

            &:nth-of-type(7n) {
                border-right: none;
            }
        }
    }
    &__box-inner {
        min-height: 50px;
    }

    &__head {
        color: #000;

        &--first {
            color: #FF0000;
        }
        &--last {
            color: #0000FF;
        }
    }
    &__lists {
        line-height: 1;
    }
    &__list {
        margin-bottom: 5px;
    }
    &__target {
        color: #1a0dab;
    }
}