.p-header {
    background: linear-gradient(to top, #fff, #1e90ff);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1120px;
        margin: auto;
        padding: 10px;
    }
    &__logo {
        font-size: 3rem;
        text-decoration: none;
        color: #fff;
    }
}