@charset "UTF-8";

/**
* Foundation
* ========================== */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
}

ul {
  list-style: none;
}

a {
  color: #212529;
}

/**
* Layout
* ========================== */

.l-header {
  width: 100%;
  margin-bottom: 5px;
}

/* Object
* ========================== */

/* Component ------------ */

.c-nav__item {
  color: #fff;
}

.c-nav__link {
  color: #fff;
  text-decoration: none;
}

/* Project ------------ */

.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to top, #fff, #1e90ff);
}

.p-header__logo {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}

.p-section__head {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-section__head::before {
  font-family: "Font Awesome 5 Free";
  content: "\F521";
  font-size: 80%;
  display: inline-block;
  margin-right: 5px;
  color: #ffd700;
}

.p-section__inner {
  padding: 0 10px 10px;
}

.p-section__lists {
  padding-left: 3rem;
}

.p-calendar {
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.p-calendar__item {
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  line-height: 1.2;
  text-align: center;
  width: calc(100% / 7);
}

.p-calendar__item:nth-of-type(7n) {
  border-right: none;
}

.p-calendar__item--first {
  color: #FF0000;
}

.p-calendar__item--last {
  color: #0000FF;
}

.p-calendar__box {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  min-height: 100px;
  width: calc(100% / 7);
}

.p-calendar__box--em {
  background-color: #fbffa3;
  font-weight: bold;
}

.p-calendar__box:nth-of-type(7n) {
  border-right: none;
}

@media screen and (max-width: 480px) {
  .p-calendar__box {
    min-height: 50px;
  }
}

.p-calendar__box-inner {
  min-height: 50px;
}

.p-calendar__head {
  color: #000;
}

.p-calendar__head--first {
  color: #FF0000;
}

.p-calendar__head--last {
  color: #0000FF;
}

.p-calendar__lists {
  line-height: 1;
}

.p-calendar__list {
  margin-bottom: 5px;
}

.p-calendar__target {
  color: #1a0dab;
}

.p-list {
  word-break: break-all;
}

/* Utility ------------ */

.u-fwb {
  font-weight: bold;
}

