.calendar{
    width: 100%;
}
.calendar__head,
.cal-box {
    border: 1px solid #CCC;
    width: calc(100% / 7);
}
.calendar__head {
    text-align: center;
}
.cal-box {
    padding: 0 0 40px 0;
    vertical-align: top;
}
.calendar__head--first,
.cal-box__date--first {
    color: #FF0000;
}
.calendar__head--last,
.cal-box__date--last {
    color: #0000FF;
}
.cal-box--em {
    background-color: #fbffa3;
    font-weight: bold;
}
.cal-box__date {
    display: inline-block;
    padding: 0 5px;
}
.cal-box__date--em {
    background: #FF0000;
    color: #fff;
}
@media screen and (min-width: 767px) {
    .sp {
        display: none;
    }
}